
<div class="container">
  <div class="info-card">
    <p><strong>Tema:</strong> {{ pregunta.descripcion_tema }}</p>
  </div> 

   <div class="cuestionario">
       <div class="pregunta-card">
         <div class="pregunta-header">
            <h3 *ngIf="!editando">{{ pregunta.enunciado_pregunta }}</h3>
        <div *ngIf="editando" class="edit-mode">
      <textarea
        type=""
        [(ngModel)]="nuevoEnunciado"
        placeholder="Editar enunciado..."
        class="edit-input"
      ></textarea>
      <div class="grupo-guardar">
        <button class="btn-guardar" (click)="guardarCambios()">💾 Guardar</button>
        <button class="btn-cancelar" (click)="cancelarEdicion()">✖ Cancelar</button>
      </div>
    </div>

    <button *ngIf="!editando" class="btn-editar" (click)="editarPregunta()">
      ✏️ Editar
    </button>
         </div>
  
    <ul class="opciones-lista">
    <li *ngFor="let o of opciones; let i = index"
    [ngClass]="{ 'anim-guardado': o.guardado }">
      <div class="opcion-item">
        <!-- Vista normal -->
        <span *ngIf="!o.editando">
          {{ letras[i] }}. {{ o.texto_opcion }}
          <span *ngIf="o.es_correcta" class="badge-correcta">✔ Correcta</span>
        </span>

        <!-- Vista edición -->
        <div *ngIf="o.editando" class="edit-opcion-full">
          <textarea
            type="text"
            [(ngModel)]="o.textoTemporal"
            class="edit-textarea"
          ></textarea>
          <div class="opt-buttons">
          <button class="btn-guardar" (click)="guardarOpcion(o)">Guardar 💾</button>
          <button class="btn-cancelar" (click)="cancelarEdicionOpcion(o)">Cancelar ✖</button>
        </div>
        </div>

        <!-- Botón editar -->
        <button *ngIf="!o.editando" class="btn-editar" (click)="editarOpcion(o)">✏️</button>
      </div>
    </li>
  </ul>
  <div class="feedback-card" *ngIf="pregunta.feedback_pregunta">
      <div class="feedback-icon">💡</div>
      <div class="feedback-text">
        {{ pregunta.feedback_pregunta }}
      </div>
  </div>
  </div>
   </div>

</div>