.tema-container {
  padding: 20px;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #2186FF;
  color: #fff;
}

.table-responsive{
  margin-top: 15px;

  button{
    margin-left: 5px;
  }

  .badge {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;

    &.activo {
      background: #2ecc71;
      color: white;
    }

    &.inactivo {
      background: #e74c3c;
      color: white;
    }
  }
}
.table {
  font-size: 1rem;
}

.table th {
  background-color: #2186ff;
  color: white;
}

.pagination {
  margin-top: 15px;
}