.main-content-admin {
  margin-left: 220px; // deja espacio para el sidebar
  padding: 2rem;
}

.main-content-normal {
  margin-left: 0; // ocupa todo el ancho
  padding: 2rem;
}


html {
  scroll-behavior: smooth;
}